Content/Mesh/Busstop/Downtown_West/Textures/Building_Cafe_A/Bricks_A/T_Bricks_a_normal.uasset filter=lfs diff=lfs merge=lfs -text
Content/Mesh/Busstop/Downtown_West/Textures/Building_Cafe_A/Bricks_B/T_bricks_b_v2_normal.uasset filter=lfs diff=lfs merge=lfs -text
